
$icon-arrow-down: "\EA01" !default;

$icon-arrow_left: "\EA02" !default;

$icon-arrow_left_th: "\EA03" !default;

$icon-arrow_right: "\EA04" !default;

$icon-arrow_right_th: "\EA05" !default;

$icon-close: "\EA06" !default;

$icon-comments: "\EA07" !default;

$icon-dislike: "\EA08" !default;

$icon-download: "\EA09" !default;

$icon-eye: "\EA0A" !default;

$icon-fb: "\EA0B" !default;

$icon-funnel: "\EA0C" !default;

$icon-ggl: "\EA0D" !default;

$icon-like: "\EA0E" !default;

$icon-plane: "\EA0F" !default;

$icon-play: "\EA10" !default;

$icon-print: "\EA11" !default;

$icon-quote: "\EA12" !default;

$icon-quote_end: "\EA13" !default;

$icon-quote_start: "\EA14" !default;

$icon-rss: "\EA15" !default;

$icon-search: "\EA16" !default;

$icon-share: "\EA17" !default;

$icon-tw: "\EA18" !default;

$icon-vk: "\EA19" !default;